<div class="top-bar">
  <div class="top-bar-bg"></div>
  <div class="left-widgets mini-widgets">
    <div class="mini-nav show-on-desktop in-top-bar-right in-top-bar list-type-menu first last">
      <ul id="top-menu">
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18808 first depth-0"
        >
          <a
            href="https://ucontinental.edu.pe"
            class="mega-menu-img mega-menu-img-left"
            data-level="1"
            ><i class="fa-fw icomoon-the7-font-the7-link-03" style="margin: 0px 6px 0px 0px"></i
            ><span class="menu-item-text"><span class="menu-text">Regresar a la UC</span></span></a
          >
        </li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20317 last depth-0"
        >
          <a href="https://idiomas.ucontinental.edu.pe/tramite-documentario-del-cic/" data-level="1"
            ><span class="menu-item-text"
              ><span class="menu-text">Atención al estudiante</span></span
            ></a
          >
        </li>
      </ul>
      <div class="menu-select">
        <span class="customSelect1" style="visibility: visible"
          ><span class="customSelectInner"
            ><i class="the7-mw-icon-dropdown-menu-bold"></i>left top</span
          ></span
        >
      </div>
    </div>
    <div
      class="mini-nav in-top-bar-right in-top-bar list-type-menu-second-switch hide-on-desktop hide-on-first-switch show-on-second-switch display-none"
    >
      <ul id="top-menu">
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18808 first depth-0"
        >
          <a
            href="https://ucontinental.edu.pe"
            class="mega-menu-img mega-menu-img-left"
            data-level="1"
            ><i class="fa-fw icomoon-the7-font-the7-link-03" style="margin: 0px 6px 0px 0px"></i
            ><span class="menu-item-text"><span class="menu-text">Regresar a la UC</span></span></a
          >
        </li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20317 last depth-0"
        >
          <a href="https://idiomas.ucontinental.edu.pe/tramite-documentario-del-cic/" data-level="1"
            ><span class="menu-item-text"
              ><span class="menu-text">Atención al estudiante</span></span
            ></a
          >
        </li>
      </ul>
      <div class="menu-select">
        <span class="customSelect1" style="visibility: visible"
          ><span class="customSelectInner"
            ><i class="the7-mw-icon-dropdown-menu-bold"></i>left top</span
          ></span
        >
      </div>
    </div>
  </div>
  <div class="right-widgets mini-widgets">
    <div
      class="mini-nav show-on-desktop near-logo-first-switch in-menu-second-switch list-type-menu first"
    >
      <ul id="header_microwidget2-menu">
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21529 first depth-0"
        >
          <a
            href="https://estudiantesidiomas.continental.edu.pe/login"
            target="_blank"
            data-level="1"
            ><span class="menu-item-text"><span class="menu-text">Matricúlate</span></span></a
          >
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19555 depth-0">
          <a
            href="http://aulavirtualcentrodeidiomas.continental.edu.pe/"
            target="_blank"
            data-level="1"
            ><span class="menu-item-text"><span class="menu-text">Aula virtual</span></span></a
          >
        </li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20314 last depth-0"
        >
          <a href="https://idiomas.ucontinental.edu.pe/trabaja-con-nosotros/" data-level="1"
            ><span class="menu-item-text"
              ><span class="menu-text">Trabaja con nosotros</span></span
            ></a
          >
        </li>
      </ul>
      <div class="menu-select">
        <span class="customSelect1" style="visibility: visible"
          ><span class="customSelectInner">rigth top</span></span
        >
      </div>
    </div>
    <div
      class="soc-ico show-on-desktop in-top-bar-right hide-on-second-switch disabled-bg disabled-border border-off hover-custom-bg hover-disabled-border hover-border-off"
    >
      <a
        title="Mail page opens in new window"
        href="https://accounts.google.com/ServiceLogin?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;ltmpl=default&amp;service=mail&amp;sacu=1&amp;hd=continental.edu.pe#identifier"
        target="_blank"
        class="mail"
        ><span class="soc-font-icon"></span
        ><span class="screen-reader-text">Mail page opens in new window</span></a
      ><a
        title="Facebook page opens in new window"
        href="https://es-la.facebook.com/ucontinental/"
        target="_blank"
        class="facebook"
        ><span class="soc-font-icon"></span
        ><span class="screen-reader-text">Facebook page opens in new window</span></a
      ><a
        title="Instagram page opens in new window"
        href="https://www.instagram.com/ucontinental/"
        target="_blank"
        class="instagram"
        ><span class="soc-font-icon"></span
        ><span class="screen-reader-text">Instagram page opens in new window</span></a
      >
    </div>
    <div
      class="mini-search show-on-desktop near-logo-first-switch near-logo-second-switch overlay-search custom-icon last"
    >
      <form
        class="searchform mini-widget-searchform"
        role="search"
        method="get"
        action="https://idiomas.ucontinental.edu.pe/"
      >
        <div class="screen-reader-text">Buscar:</div>
        <div class="overlay-search-wrap">
          <input
            type="text"
            autofocus=""
            aria-label="Search"
            class="field searchform-s"
            name="s"
            value=""
            placeholder="Escribe el término de búsqueda"
            title="Search form"
          />
          <a href="" class="search-icon" aria-label="Search"
            ><i class="the7-mw-icon-search" aria-hidden="true"></i
          ></a>
        </div>
        <a href="" class="submit text-disable"><i class="mw-icon the7-mw-icon-search-bold"></i></a
        ><input type="submit" class="assistive-text searchsubmit" value="Ir!" />
      </form>
    </div>
    <div
      class="mini-nav in-top-bar-right in-top-bar list-type-menu-first-switch hide-on-desktop show-on-first-switch display-none"
    >
      <ul id="top-menu">
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18808 first depth-0"
        >
          <a
            href="https://ucontinental.edu.pe"
            class="mega-menu-img mega-menu-img-left"
            data-level="1"
            ><i class="fa-fw icomoon-the7-font-the7-link-03" style="margin: 0px 6px 0px 0px"></i
            ><span class="menu-item-text"><span class="menu-text">Regresar a la UC</span></span></a
          >
        </li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20317 last depth-0"
        >
          <a href="https://idiomas.ucontinental.edu.pe/tramite-documentario-del-cic/" data-level="1"
            ><span class="menu-item-text"
              ><span class="menu-text">Atención al estudiante</span></span
            ></a
          >
        </li>
      </ul>
      <div class="menu-select">
        <span class="customSelect1" style="visibility: visible"
          ><span class="customSelectInner"
            ><i class="the7-mw-icon-dropdown-menu-bold"></i>left top</span
          ></span
        >
      </div>
    </div>
    <div
      class="soc-ico in-top-bar-right hide-on-second-switch disabled-bg disabled-border border-off hover-custom-bg hover-disabled-border hover-border-off hide-on-desktop show-on-first-switch display-none"
    >
      <a
        title="Mail page opens in new window"
        href="https://accounts.google.com/ServiceLogin?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;ltmpl=default&amp;service=mail&amp;sacu=1&amp;hd=continental.edu.pe#identifier"
        target="_blank"
        class="mail"
        ><span class="soc-font-icon"></span
        ><span class="screen-reader-text">Mail page opens in new window</span></a
      ><a
        title="Facebook page opens in new window"
        href="https://es-la.facebook.com/ucontinental/"
        target="_blank"
        class="facebook"
        ><span class="soc-font-icon"></span
        ><span class="screen-reader-text">Facebook page opens in new window</span></a
      ><a
        title="Instagram page opens in new window"
        href="https://www.instagram.com/ucontinental/"
        target="_blank"
        class="instagram"
        ><span class="soc-font-icon"></span
        ><span class="screen-reader-text">Instagram page opens in new window</span></a
      >
    </div>
  </div>
</div>
